<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Edit Skill</h1>
  <form action="/skills/<%= idx %>?_method=PUT" method="POST" autocomplete="off">
    <input type='checkbox' name='done' <%= skill.done ? 'checked' : '' %> >&nbsp;&nbsp;
    <input type="text" name="skill" value="<%= skill.skill %>">
    <button type="submit">Update Skill</button>
  </form>
</body>

</html>